div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10%;
    position: relative;
    border-radius: 25px;
    border: 2px solid #000000;

}

img{
    width: 100px;
    height: 100px;
}

button {
    all: unset;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 48%;
  }

